@tailwind base;
@tailwind components;
@tailwind utilities;

/* Local fonts from public/fonts */
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('/fonts/NotoSansJP/NotoSansJP-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply font-yu-gothic text-black bg-white;
  }
}

@layer utilities {
  .font-mizolet {
    font-family: mizolet, sans-serif;
  }
  
  .font-yu-gothic {
    font-family: yu-gothic-pr6n, sans-serif;
  }
  
  .text-stroke-2-black {
    -webkit-text-stroke: 2px black;
  }
  
  .text-stroke-1-black {
    -webkit-text-stroke: 1px black;
  }
  
  .text-shadow-outline {
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0 0 black, 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
